<div class="contentHeader">
	<h1 class="contentTitle">{TITLE}</h1>
</div>
<form id="editalbum" action="" method="post">
<fieldset class="settings mediumsettings">
	<!-- BEGIN fields -->
	<dl>
		<dt><label>{fields.NAME}</label><br /><span>{fields.HELP}</span></dt>
		<dd>{fields.FIELD}{fields.TEXT}</dd>
	</dl>
	<!-- END fields -->
</fieldset>
<center>
	<button type="submit" name="save" value="1"><i class="fa fa-check"></i>{L_save}</button>
	<button type="reset"><i class="fa fa-trash-o"></i>{L_reset}</button>
</center>
{CSRF_TOKEN}
<input type="hidden" name="admin" value="{ADMINMODE}" />
</form>

