<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li class="current"><a>{L_mc_mediacenter}: {L_mc_massupload}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<div class="contentHeader">
	<h1 class="contentTitle">{L_mc_massupload}</h1>
</div>

<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{EQDKP_ROOT_PATH}plugins/mediacenter/includes/uploader/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{EQDKP_ROOT_PATH}plugins/mediacenter/includes/uploader/js/jquery.fileupload.js"></script>

<script>
$(document).ready(function(){

    $('#fileupload').fileupload({
    	dropZone: $('#drag-drop-area'),
        url: '{EQDKP_CONTROLLER_PATH}MediaMassupload{SEO_EXTENSION}{SID}&upload=true',
        dataType: 'json',
        add: function (e, data) {
        	if (data.files[0].type == "image/jpeg" || data.files[0].type == "image/png" || data.files[0].type == "image/gif"){
            	var oFReader = new FileReader();
    			oFReader.readAsDataURL(data.files[0]);
    			oFReader.onload = function (oFREvent) {
    	            data.context = $( '<div class="filecontainer"><img src="'+oFREvent.target.result+'" class="uploadPreview" /> <div class="filename">'+data.files[0].name+'</div><div class="fileprogress"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div><div class="clear"></div></div>' ).appendTo( "#files" );
    	            data.submit();
    			};
        		
        	} else {
        		data.context = $( '<div style="clear:both;"><div class="filename">'+data.files[0].name+'</div><div class="fileprogress"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div><div class="clear"></div></div>' ).appendTo( "#files" );
 	            data.submit();
        	}
        },
        progress: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            data.context.find('.progress-bar').css(
                    'width',
                    progress + '%'
                );
        },
        done: function (e, data) {
        	data.context.text('Upload finished.');
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
	
});

</script>


<!-- The file input field used as target for the file upload widget -->
<div id="drag-drop-area" style="position: relative;">
	<div class="drag-drop-inside">
	<p class="drag-drop-info">Dateien hierher ziehen</p>
	<p>oder</p>
	<p class="drag-drop-buttons"><input type="button" class="button" value="Dateien auswählen" id="plupload-browse-button" style="position: relative; z-index: 1;" onclick="$('#fileupload').trigger('click')">
	
	<input id="fileupload" type="file" name="files[]" class="upload" multiple style="display:none;">
	</p>
	</div>
</div>

    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
	<div class="clear"></div>


<style>
#drag-drop-area {
    border: 4px dashed #bbb;
    height: 200px;
}
.drag-drop-inside {
    margin: 70px auto 0;
    width: 250px;
}
.drag-drop-inside p {
    color: #aaa;
    display: none;
    font-size: 14px;
    margin: 5px 0;
}
.drag-drop-inside p {
    text-align: center;
}
.drag-drop-inside p.drag-drop-info {
    font-size: 20px;
}
.drag-drop-inside p, .drag-drop-inside p.drag-drop-buttons {
    display: block;
}
.drag-drop.drag-over #drag-drop-area {
    border-color: #83b4d8;
}


.uploadPreview {
	float: left;
    margin: 2px 10px 0 0;
    max-height: 32px;
    max-width: 40px;
}

#files .filename {
	float: left;
	margin-top: 4px;
}

#files .fileprogress {
	float: right;
	width: 200px;
	margin-top: 4px;
}

#files {
	max-width: 800px;
}

#files .filecontainer {
	clear: both;
	border-bottom: 1px solid #bbb;
	padding-bottom: 2px;
	padding-top: 2px;
}


#files .fileprogress {
    background-color: #bbb;
    height: 25px;
    padding: 1px;
    width: 350px;     
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

#files .fileprogress div {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
    
    background-color: #4ca916;
    background-image: linear-gradient(top, #4ca916, #4ca916);  
    box-shadow: 0 2px 2px rgba(255, 255, 255, .4) inset, 0 -2px 2px rgba(255, 255, 255, .4) inset;    
    animation: animate-glow 1s ease-out infinite;
}

</style>