<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li class="current"><a>{L_mc_mediacenter}: {L_mc_edit_media}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<!-- IF S_TYPE_IMAGE -->
<script src="{EQDKP_ROOT_PATH}plugins/mediacenter/includes/jcrop/js/jquery.Jcrop.min.js"></script>
<link rel="stylesheet" href="{EQDKP_ROOT_PATH}plugins/mediacenter/includes/jcrop/css/jquery.Jcrop.css" type="text/css" />

<script>
  var jcrop_api;
  jQuery(function($){
    $('.jcrop').Jcrop({
      onChange:   showCoords,
      onSelect:   showCoords,
      onRelease:  clearCoords,
      boxWidth: 500,
    },function(){
      jcrop_api = this;
    });
  });

  // Simple event handler, called from onChange and onSelect
  // event handlers, as per the Jcrop invocation above
  function showCoords(c)
  {
	jQuery('#x').val(c.x);
	jQuery('#y').val(c.y);
	jQuery('#w').val(c.w);
	jQuery('#h').val(c.h);
  };

  function clearCoords()
  {
	jQuery('#x').val('');
	jQuery('#y').val('');
	jQuery('#w').val('');
	jQuery('#h').val('');
  };
  
  function image_resize(){
	  if (parseInt(jQuery('#w').val())>0) {
		  $('.loadingIE').show();
		  	var x = Math.round(jQuery('#x').val());
			var y = Math.round(jQuery('#y').val());
			var w = Math.round(jQuery('#w').val());
			var h = Math.round(jQuery('#h').val());
			
		  $.get( "{EQDKP_CONTROLLER_PATH}EditMedia{SEO_EXTENSION}{SID}&imageedit=resize&id={IMAGE_ID}&x="+x+"&y="+y+"&w="+w+"&h="+h, function( data ) {
			  reload_image();
		  });
		  
	  };
  }
  
  function image_rotate_r(){
	  $('.loadingIE').show();
	  $.get( "{EQDKP_CONTROLLER_PATH}EditMedia{SEO_EXTENSION}{SID}&imageedit=rotate&id={IMAGE_ID}&dir=r", function( data ) {
		  reload_image();
	  });
  }
  
  function image_rotate_l(){
	  $('.loadingIE').show();
	  $.get( "{EQDKP_CONTROLLER_PATH}EditMedia{SEO_EXTENSION}{SID}&imageedit=rotate&id={IMAGE_ID}&dir=l", function( data ) {
		  reload_image();
	  });
  }
  
  function image_mirror_v(){
	  $('.loadingIE').show();
	  $.get( "{EQDKP_CONTROLLER_PATH}EditMedia{SEO_EXTENSION}{SID}&imageedit=mirror&dir=v&id={IMAGE_ID}", function( data ) {
		  reload_image();
	  });
  }
  
  function image_mirror_h(){
	  $('.loadingIE').show();
	  $.get( "{EQDKP_CONTROLLER_PATH}EditMedia{SEO_EXTENSION}{SID}&imageedit=mirror&dir=h&id={IMAGE_ID}", function( data ) {
		  reload_image();
	  });
  }
  
  function image_restore(){
	  $('.loadingIE').show();
	  $.get( "{EQDKP_CONTROLLER_PATH}EditMedia{SEO_EXTENSION}{SID}&imageedit=restore&id={IMAGE_ID}", function( data ) {
		  reload_image();
	  });
  }
  
  function reload_image(){
	  $('.loadingIE').hide();
	  var image = "{EDIT_FILE}?_t="+(new Date().getTime());
	  $('.jcrop').attr('src', image);	  
	  jcrop_api.setImage(image);
  }
  
  $(document).ready(function(){
	  reload_image();
  });
</script>

<!-- ENDIF -->

<script src="{EQDKP_ROOT_PATH}plugins/mediacenter/includes/js/flow.js"></script>
<script>
	function reload_albums(){
		$.get("{EQDKP_CONTROLLER_PATH}/AddMedia/{SID}&reload_albums",
			function(data){
				var myobj = $('#album_id');
				myobj.after(data);
				myobj.remove();
				
				myobj = $('#album_massupload');
				data = $(data).attr('id', 'albums_massupload');
				myobj.after(data);
				myobj.remove();
			});
	}
	
	function load_mediatypes(){
		var albumid = $('#album_id').val();
		$('#albums_massupload').val(albumid);
		
		$.get("{EQDKP_CONTROLLER_PATH}/AddMedia/{SID}&media_types&album="+albumid,
			function(data){
				var myobj = $('#type');
				myobj.after(data);
				myobj.remove();
				
				var size = $(data).find('option').size();
				if (size == 1){
					$('#type').parent().parent().hide();
					$('#type').trigger('change');
				} else {
					$('#type').parent().parent().show();
					$('#type').trigger('change');
				}
			});
	}

	
	function handle_type(value){
		if (value == 0 || value == 1){
			$('#externalfile').parent().parent().show();
			$('#previewimage').parent().parent().show();
		} else {
			$('#externalfile').parent().parent().hide();
			$('#previewimage').parent().parent().hide();
		}
	}
	
	function myreset(){
		$("#nl_progressbar").hide();
		$('#drag-drop-area-single').show();
		$("#myfile").val("");
		$("#myfilename").val("");
		$(".nl_progressbar_label .fa-spinner").addClass("fa-check");
		document.getElementById("editalbum").reset();
	}
	
	function set_albums(value){
		$('#album_id').val(value);
	}
	
	function upload_singlefile(file){
		 var fd = new FormData();
	      fd.append('file', file);
	      
	      $("#nl_progressbar_label").html(file.name);
	      
	      $("#nl_progressbar").show();
	      $("#nl_progressbar").progressbar({
			 value: 0
		  });
	      $('#drag-drop-area-single').hide();
	      
	      
	      //Handle empty fields
	      if ($('#name').val() == ""){
	    	  $('#name').val(file.name);
	      }
	      
	      //Select Dropdown to Image
	      if (file.type == "image/jpeg" || file.type == "image/png" || file.type == "image/gif"){
	    	  $("#type").val(2);
	    	  $("#type").trigger('change');
	      }
	      
	      $("#myfilename").val(file.name);
	      
	      //Send File to Server
	      	var r = new Flow({
			  target:'{EQDKP_CONTROLLER_PATH}AddMedia/{SID}&chunkupload=1',
			  forceChunkSize: true,
			  withCredentials: true,
			});
	      
			// Resumable.js isn't supported, fall back to normal Ajax Request
			if(!r.support) {
				  var uploadURL = "{EQDKP_CONTROLLER_PATH}AddMedia/{SID}&upload=1"; //Upload URL
			      var jqXHR=$.ajax({
			              xhr: function() {
			              var xhrobj = $.ajaxSettings.xhr();
			              if (xhrobj.upload) {
			                      xhrobj.upload.addEventListener('progress', function(event) {
			                          var percent = 0;
			                          var position = event.loaded || event.position;
			                          var total = event.total;
			                          if (event.lengthComputable) {
			                              percent = Math.ceil(position / total * 100);
			                          }
			                          //Set progress
								      $("#nl_progressbar").progressbar({
										 value: percent
									  });
			                      }, false);
			                  }
			              return xhrobj;
			          },
			          url: uploadURL,
			          type: "POST",
			          contentType:false,
			          processData: false,
			          cache: false,
			          data: fd,
			          success: function(data){
			        	  if (data != "error"){
				              $("#nl_progressbar").progressbar({
				     			 value: 100
				     		  });
				              
				              //Remove Spinner
				              $(".nl_progressbar_label .fa-spinner").addClass("fa-check");
				              $(".nl_progressbar_label .fa-spinner").removeClass("fa-spin fa-spinner");
				              
				              $("#myfile").val(data);
				              
			          	} else {
			          		$("#nl_progressbar").progressbar({
				     			 value: 0
				     		});
			          		$(".nl_progressbar_label .fa-spinner").addClass("fa-remove");
				            $(".nl_progressbar_label .fa-spinner").removeClass("fa-spin fa-spinner");
			          	}
			          },
			          error: function(){
			        	  $("#nl_progressbar").progressbar({
				     			 value: 0
				     		});
			          		$(".nl_progressbar_label .fa-spinner").addClass("fa-remove");
				            $(".nl_progressbar_label .fa-spinner").removeClass("fa-spin fa-spinner");
			          }
			      });
				
				
			} else {
				//Chunked upload
				r.on('complete', function(){
					$("#nl_progressbar").progressbar({
		     			 value: 100
		     		  });
		              
		              //Remove Spinner
		              $(".nl_progressbar_label .fa-spinner").addClass("fa-check");
		              $(".nl_progressbar_label .fa-spinner").removeClass("fa-spin fa-spinner");
				  });
				
				r.on('fileSuccess', function(file,message){
					if(message != "error"){
						$("#myfile").val(message);
					} else {
						$("#nl_progressbar").progressbar({
			     			 value: 0,
			     		});
		          		$(".nl_progressbar_label .fa-spinner").addClass("fa-remove");
			            $(".nl_progressbar_label .fa-spinner").removeClass("fa-spin fa-spinner");
					}
				});
				
				r.on('progress', function(){
					percent = r.progress() * 100;

                    //Set progress
				      $("#nl_progressbar").progressbar({
						 value: percent
					  });
					
				});
				r.on('error', function(message, file){
					$("#nl_progressbar").progressbar({
		     			 value: 0,
		     		});
	          		$(".nl_progressbar_label .fa-spinner").addClass("fa-remove");
		            $(".nl_progressbar_label .fa-spinner").removeClass("fa-spin fa-spinner");
				});
				
				r.addFile(file);

				r.upload();
			}
	      
	      
	     
	}
		
	$(document).ready(function(){
		handle_type($("#type").val());
		
		load_mediatypes();
				
		$('#drag-drop-area-single').on('dragover', function(evt){
		  evt.preventDefault();
		});
		
		$('#singlefileupload').on('change', function(evt){
			evt.preventDefault();
			var file = evt.target.files[0];
			upload_singlefile(file);		
		});
		

		$('#drag-drop-area-single').on('drop', function(evt){
		  evt.preventDefault();
		  var files = evt.originalEvent.dataTransfer.files;
		  upload_singlefile(files[0]);
		});
		
		//Check flow support
      	var r = new Flow({
		  target:'',
		  forceChunkSize: true,
		  withCredentials: true,
		});
      
		// Resumable.js isn't supported, fall back to normal Ajax Request
		if(r.support) {
			$('.maxuploadsize_single').hide();
		}
	})
	
	
	//Massupload
	var storedFiles = [];
	
	$(document).ready(function(){
		function massupload_add_files(files){
			var filesArr = Array.prototype.slice.call(files);
			filesArr.forEach(function(f) {			
				storedFiles.push(f);

				if (f.type == "image/jpeg" || f.type == "image/png" || f.type == "image/gif"){
	            	var oFReader = new FileReader();
	    			oFReader.readAsDataURL(f);
	    			oFReader.onload = function (oFREvent) {
	    				var bla = $( '<div class="filecontainer"><img src="'+oFREvent.target.result+'" class="uploadPreview" /> <div class="filename" data-file="'+f.name+'"> '+f.name+' <span class="loading"><i class="fa fa-trash-o hand" data-file="'+f.name+'" onclick="removeFile(this)"></i></span> </div><div class="fileprogress"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div><div class="clear"></div></div>' );
	    				$( "#files" ).prepend(bla);
	    			};
	        		
	        	} else {
	        		var bla = $( '<div style="clear:both;"><div class="filename" data-file="'+f.name+'">'+f.name+' <span class="loading"><i class="fa fa-trash-o hand" data-file="'+f.name+'" onclick="removeFile(this)"></i></span> </div><div class="fileprogress"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div><div class="clear"></div></div>' );
					$( "#files" ).prepend(bla);
	        	}
				
			});		
		}
		
		$('#drag-drop-area').on('dragover', function(evt){
		  evt.preventDefault();
		});
		
		$('#drag-drop-area').on('drop', function(evt){
		  evt.preventDefault();
		  var files = evt.originalEvent.dataTransfer.files;
		  massupload_add_files(files);
		});
		
		$('#fileupload').on('change', function(evt){
			evt.preventDefault();
			var files = evt.target.files;
			massupload_add_files(files);
		});
		
		$('#massupload_reset').on('click', function(evt){
			storedFiles = [];
			$('#files').html("");
		});
		
		$('#massupload_start').on('click', function(evt){
			for(var i=0, len=storedFiles.length; i<len; i++) {
				var data = new FormData();
				data.append('file', storedFiles[i]);
				data.append('album_id', $('#albums_massupload').val());
				
				var uploadURL = '{EQDKP_CONTROLLER_PATH}EditMedia{SEO_EXTENSION}{SID}&massupload=true';//Upload URL
			    var context = $('i[data-file="'+storedFiles[i].name+'"]').parent().parent().parent();
			    context.find('.loading').html('<i class="fa fa-spin fa-spinner"></i>');
				var jqXHR=$.ajax({
			              xhr: function() {
			              var xhrobj = $.ajaxSettings.xhr();
	
			              if (xhrobj.upload) {
			            	  xhrobj.upload.mycontext = context;
			                      xhrobj.upload.addEventListener('progress', function(event) {

			                    	  var context = this.mycontext;
			                          var percent = 0;
			                          var position = event.loaded || event.position;
			                          var total = event.total;
			                          if (event.lengthComputable) {
			                              percent = Math.ceil(position / total * 100);
			                          }
										context.find('.progress-bar').css(
						                    'width',
						                    percent + '%'
						                );
			                      }, false);
			                  }
			              return xhrobj;
			          },
			          url: uploadURL,
			          context: context,
			          type: "POST",
			          contentType:false,
			          processData: false,
			          cache: false,
			          data: data,
			          success: function(data, e, xhr){
						  context = $(this);
			        	  if ($.trim(data) == "ok"){
			        		  context.find('.loading').html('<i class="fa fa-lg fa-check"></i>');
			        		 
			        		  var fileCont = context.find(".filename");
			        		  file = fileCont.data('file');
			        		  console.log(file);
			        		  for(var i=0;i<storedFiles.length;i++) {
			        				if(storedFiles[i].name === file) {
			        					storedFiles.splice(i,1);
			        					break;
			        				}
			        			}
			        		  
			        	  } else {
			        		  context.find('.loading').html('<i class="fa fa-lg fa-remove"></i>');
			  	        	  context.find('.progress-bar').addClass('error');
			        	  }      	  
			          },
			          error: function(data, e, xhr){
			        	  context = $(this);
			        	  context.find('.loading').html('<i class="fa fa-lg fa-remove"></i>');
		  	        	  context.find('.progress-bar').addClass('error');
			          }
			      });
				
			}

		});
	});
	
	function removeFile(obj) {
		var file = $(obj).data("file");
		for(var i=0;i<storedFiles.length;i++) {
			if(storedFiles[i].name === file) {
				storedFiles.splice(i,1);
				break;
			}
		}

		$(obj).parent().parent().parent().remove();
	}
</script>
<style>
#drag-drop-area-single {
    border: 4px dashed #bbb;
    height: 130px;
}
.drag-drop-inside {
    margin: 15px auto 0;
    width: 250px;
}
.drag-drop-inside p {
    color: #aaa;
    display: none;
    font-size: 14px;
    margin: 5px 0;
}
.drag-drop-inside p {
    text-align: center;
}
.drag-drop-inside p.drag-drop-info {
    font-size: 20px;
}
.drag-drop-inside p, .drag-drop-inside p.drag-drop-buttons {
    display: block;
}
.drag-drop.drag-over #drag-drop-area {
    border-color: #83b4d8;
}

#massupload #drag-drop-area {
    border: 4px dashed #bbb;
    height: 200px;
}
#massupload .drag-drop-inside {
    margin: 70px auto 0;
    width: 250px;
}

.ui-progressbar { position:relative; height:30px;}
.nl_progressbar_label { position: absolute; width: 90%; text-align: center; line-height: 30px; left:5%; right:5%;}

.icon-container div {
	background-color: #f0f0f0;
	background-image: linear-gradient(to bottom, #fff, #d9d9d9);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	
	border-width: 1px 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: inline-block;
    border-radius: 3px;
    
    color: #333;
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	overflow: visible;
	padding: 4px 10px;
	text-align: center;
}
.icon-container {
	padding-bottom: 5px;
}

.uploadPreview {
	float: left;
    margin: 2px 10px 0 0;
    max-height: 32px;
    max-width: 40px;
}

#files .filename {
	float: left;
	margin-top: 4px;
}

#files .fileprogress {
	float: right;
	width: 200px;
	margin-top: 4px;
	text-align:left;
}

#files {
	max-width: 800px;
}

#files .filecontainer {
	clear: both;
	border-bottom: 1px solid #bbb;
	padding-bottom: 2px;
	padding-top: 2px;
}


#files .fileprogress {
    background-color: #bbb;
    height: 25px;
    padding: 1px;
    width: 350px;     
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

#files .fileprogress div {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
    
    background-color: #4ca916;
    background-image: linear-gradient(top, #4ca916, #4ca916);  
    box-shadow: 0 2px 2px rgba(255, 255, 255, .4) inset, 0 -2px 2px rgba(255, 255, 255, .4) inset;    
    animation: animate-glow 1s ease-out infinite;
}

#files .progress-bar.error {
	background-color: #d00000;
}

#files .loading {
	margin: 0;
	margin-right: 5px;
}

option.category { font-weight:bold; }
option.category:before { 
	content:"\f07c";
	font-family: FontAwesome;
	padding-right: 3px;
}

option.video:after {
	content:"\f03d";
	font-family: FontAwesome;
	padding-left: 3px;
	font-weight: normal;
}
option.image:after {
	content:"\f030";
	font-family: FontAwesome;
	padding-left: 3px;
	font-weight: normal;
}
option.file:after {
	content:"\f15b";
	font-family: FontAwesome;
	padding-left: 3px;
	font-weight: normal;
}

option.filevideo:after {
	content:"\f15b   \f03d";
	font-family: FontAwesome;
	padding-left: 3px;
	font-weight: normal;
}

option.videoimage:after {
	content:"\f03d   \f030";
	font-family: FontAwesome;
	padding-left: 3px;
	font-weight: normal;
}

option.fileimage:after {
	content:"\f15b   \f030";
	font-family: FontAwesome;
	padding-left: 3px;
	font-weight: normal;
}

option.filevideoimage:after {
	content:"\f15b   \f03d   \f030";
	font-family: FontAwesome;
	padding-left: 3px;
	font-weight: normal;
}

</style>

<!-- IF S_NORMAL_HEADER -->
<div class="contentHeader">
	<h1 class="contentTitle">{L_mc_edit_media}</h1>
</div>
<!-- ENDIF -->

<div id="editmedia_tab">
	<ul>
		<li><a href="#settings"><!-- IF S_EDIT -->{L_mc_edit_media}<!-- ELSE -->{L_mc_add_media}<!-- ENDIF --></a></li>
		<!-- IF S_TYPE_IMAGE -->
		<li><a href="#edit">{L_mc_edit_image}</a></li>
		<!-- ENDIF -->
		<!-- IF not S_EDIT -->
		<li><a href="#massupload">{L_mc_massupload}</a></li>
		<!-- ENDIF -->
	</ul>
	<div id="settings">
	<form id="editalbum" action="" method="post" enctype='multipart/form-data' name="editmedia">
	<fieldset class="settings mediumsettings">
		<!-- BEGIN fields -->
		<dl>
			<dt><label>{fields.NAME}</label><br /><span>{fields.HELP}</span></dt>
			<dd>{fields.FIELD}{fields.TEXT}</dd>
		</dl>
		<!-- END fields -->
		<!-- IF LOCALFILE != "" -->
		<dl>
			<dt><label>{L_mc_f_file}</label></dt>
			<dd>{LOCALFILE}</dd>
		</dl>
		<!-- ENDIF -->
	</fieldset>
	
	<!-- The file input field used as target for the file upload widget -->
	<div id="drag-drop-area-single" style="position: relative;">
		<div class="drag-drop-inside">
		<p class="drag-drop-info">{L_mc_drop_file}</p>
		<p>{L_mc_or}</p>
		<p class="drag-drop-buttons"><input type="button" class="button" value="{L_mc_select_file}" id="plupload-browse-button" style="position: relative; z-index: 1;" onclick="$('#singlefileupload').trigger('click')">
		
		<input id="singlefileupload" type="file" name="file" class="upload" style="display:none;">
		<br><p class="small maxuploadsize_single" style="font-weight: normal; padding: 5px;">{L_mc_max_uploadsize}: {MAX_UPLOADSIZE}</p>
		</p>
		</div>
	</div>
	
	<div id="nl_progressbar" style="display:none;">
		<span class="nl_progressbar_label"><i class="fa fa-spinner fa-spin fa-lg"></i> &nbsp;<span id="nl_progressbar_label"></span></span>
	</div>
	
	<input type="hidden" name="localfile" value="" id="myfile" />
	<input type="hidden" name="filename" value="" id="myfilename" />
	
	<center>
		<button type="submit" name="save" value="1" id="saveButton"><i class="fa fa-check"></i>{L_save}</button>
		<button type="button" onclick="myreset();"><i class="fa fa-trash-o"></i>{L_reset}</button>
	</center>
	{CSRF_TOKEN}
	<input type="hidden" name="admin" value="{ADMINMODE}" />
	</form>
	</div>
	<!-- IF not S_EDIT -->
	<div id="massupload">
		<form id="editalbum" action="" method="post" enctype='multipart/form-data'>
		<fieldset class="settings mediumsettings">
		<dl>
			<dt><label>{L_mc_f_album}</label></dt>
			<dd><select onchange="set_albums(this.value)" class="input" id="albums_massupload" name="albums_massupload" size="1">{DD_ALBUMS}</select> <button onclick="addalbum()" type="button"><i class="fa fa-plus"></i> {L_mc_new_album}</button></dd>
		</dl>
		</fieldset>
		<!-- The file input field used as target for the file upload widget -->
		<div id="drag-drop-area" style="position: relative;">
			<div class="drag-drop-inside">
			<p class="drag-drop-info">{L_mc_drop_files}</p>
			<p>{L_mc_or}</p>
			<p class="drag-drop-buttons"><input type="button" class="button" value="{L_mc_select_files}" id="plupload-browse-button" style="position: relative; z-index: 1;" onclick="$('#fileupload').trigger('click')">
			
			<input id="fileupload" type="file" name="files[]" class="upload" multiple style="display:none;">
			<br><p class="small" style="font-weight: normal; padding: 5px;">{L_mc_max_uploadsize}: {MAX_UPLOADSIZE}</p>
			</p>
			</div>
		</div>
		<br />
		<button type="button" id="massupload_start">
            <i class="fa fa-upload"></i>
            {L_mc_start_massupload}
        </button>
        
        <button type="button" id="massupload_reset">
             <i class="fa fa-trash-o"></i>
             {L_reset}
        </button>
		</form>
		
		<!-- The container for the uploaded files -->
		<div id="files" class="files"></div>
		<div class="clear"></div>
	</div>
	<!-- ENDIF -->
	
	<!-- IF S_TYPE_IMAGE -->
	<div id="edit">
		<form action="" method="post">
		<div class="icon-container">
			<div onclick="image_resize()" title="{L_mc_ei_resize}"><i class="fa fa-cut"></i></div>
			<div onclick="image_rotate_l()" title="{L_mc_ei_rotate_l}"><i class="fa fa-rotate-left"></i></div>
			<div onclick="image_rotate_r()" title="{L_mc_ei_rotate_r}"><i class="fa fa-rotate-right"></i></div>
			<div onclick="image_mirror_h()" title="{L_mc_ei_mirror_h}"><i class="fa fa-arrows-h"></i></div>
			<div onclick="image_mirror_v()" title="{L_mc_ei_mirror_v}"><i class="fa fa-arrows-v"></i></div>
			<div onclick="image_restore()" title="{L_mc_ei_restore}"><i class="fa fa-trash"></i></div>
			<span class="loadingIE" style="font-size: 20px; display:none;"><i class="fa fa-spin fa-spinner"></i></span>
		</div>
		
		<div class="">
			<img src="{EDIT_FILE}" class="jcrop"/>
		</div>
		
		<input type="hidden" id="x" name="x" />
		<input type="hidden" id="y" name="y" />
		<input type="hidden" id="w" name="w" />
		<input type="hidden" id="h" name="h" />
		<button type="submit" name="save_edit_image"><i class="fa fa-check"></i>{L_save}</button>
		{CSRF_TOKEN}
		</form>
	</div>
	<!-- ENDIF -->
</div>