<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li class="current"><a href="{EQDKP_CONTROLLER_PATH}MediaCenter{SEO_EXTENSION}{SID}">{L_mediacenter}</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div>
	<!-- IF S_MC_SHOW_FEATURED -->
	<div>
		<h2>Vorgestellte Medien</h2>
		<div class="mc_featured_container">
			<ul class="rslides" id="slider_mc_featured">
			
			<!-- BEGIN mc_featured_row -->
			<li>
				<div class="mcPreviewImageBig">
					<a href="{mc_featured_row.LINK}">
						{mc_featured_row.PREVIEW_IMAGE}
					</a>
				</div>
				<div class="previewContent">
					<a href="{mc_featured_row.LINK}"><h3>{mc_featured_row.NAME}</h3></a>
					<div class="mcPreviewTopInfos">
					{mc_featured_row.TYPE} &bull; {mc_featured_row.DATE} &bull; {mc_featured_row.AUTHOR} &bull; {mc_featured_row.CATEGORY_AND_ALBUM}<br />
					{mc_featured_row.VIEWS} mal angesehen {mc_featured_row.ADDITIONAL_TOP_INFO}<br />
					</div>
					<div class="mcPreviewDesc">
					{mc_featured_row.DESCRIPTION}
					</div>
					<div class="mcPreviewBottomInfos">
					{mc_featured_row.ADDITIONAL_BOTTOM_INFO}
					</div>
				</div>
			</li>
			<!-- END mc_featured_row -->
		
		</ul></div>

	</div>
	<!-- ENDIF -->

	<!-- IF S_MC_SHOW_NEWEST -->
	<div>
		<h2>Neueste Medien</h2>
		<div class="mcFileList TripleColumn">
			<ul>
				<!-- BEGIN mc_newest_row -->
				<li>
					<div class="mcPreviewImageSmall">
						<a href="{mc_newest_row.LINK}">
							{mc_newest_row.PREVIEW_IMAGE}
						</a>
					</div>
					<div>
						<a href="{mc_newest_row.LINK}"><h3>{mc_newest_row.NAME}</h3></a>
						{mc_newest_row.TYPE} &bull; {mc_newest_row.DATE} &bull; {mc_newest_row.AUTHOR} &bull; {mc_newest_row.CATEGORY_AND_ALBUM}
					</div>
					
				</li>
				<!-- END mc_newest_row -->
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<!-- ENDIF -->
	
	<!-- IF S_MC_SHOW_CATEGORIES -->
	<div>
		<h2>Kategorien</h2>
		<div class="mcNestedCategoryList DoubleColumn">
			<ul>
				<!-- BEGIN category_row -->
				<li><a href="{category_row.CATEGORY_LINK}"><!-- IF category_row.S_HAS_CHILDS --><i class="fa fa-folder-open-o fa-lg"></i><!-- ELSE --><i class="fa fa-folder-o fa-lg"></i><!-- ENDIF --> {category_row.CATEGORY_NAME}</a><span class="badge">{category_row.MEDIA_COUNT}</span>
					<div class="childCategories">
						<ul>
						<!-- BEGIN child_row -->
							<li><a href="{category_row.child_row.CATEGORY_LINK}"><!-- IF category_row.child_row.S_HAS_CHILDS --><i class="fa fa-folder-open-o fa-lg"></i><!-- ELSE --><i class="fa fa-folder-o fa-lg"></i><!-- ENDIF -->  {category_row.child_row.CATEGORY_NAME}</a><span class="badge">{category_row.child_row.MEDIA_COUNT}</span></li>
						<!-- END child_row -->
						</ul>
					</div>
				</li>
				<!-- END category_row -->
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<!-- ENDIF -->
	
	<!-- IF S_MC_SHOW_MOSTVIEWED -->
	<div>
		<h2>Am meisten angesehen</h2>
		<div class="mcFileList TripleColumn">
			<ul>
				<!-- BEGIN mc_mostviewed_row -->
				<li>
					<div class="mcPreviewImageSmall">
						<a href="{mc_mostviewed_row.LINK}">
							{mc_mostviewed_row.PREVIEW_IMAGE}
						</a>
					</div>
					<div>
						<a href="{mc_mostviewed_row.LINK}"><h3>{mc_mostviewed_row.NAME}</h3></a>
						{mc_mostviewed_row.TYPE} &bull; {mc_mostviewed_row.DATE} &bull; {mc_mostviewed_row.AUTHOR} &bull; {mc_mostviewed_row.CATEGORY_AND_ALBUM}
					</div>
					
				</li>
				<!-- END mc_mostviewed_row -->
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<!-- ENDIF -->
	
	<!-- IF S_MC_SHOW_LATESTCOMMENTS -->
	<div>
		<h2>Neueste Kommentare</h2>
		<div class="mcFileList TripleColumn">
			<ul>
				<!-- BEGIN mc_lastcomments_row -->
				<li>
					<div class="mcPreviewImageSmall">
						<a href="{mc_lastcomments_row.LINK}">
							{mc_lastcomments_row.PREVIEW_IMAGE}
						</a>
					</div>
					<div>
						<a href="{mc_lastcomments_row.LINK}"><h3>{mc_lastcomments_row.NAME}</h3></a>
						{mc_lastcomments_row.TYPE} &bull; {mc_lastcomments_row.DATE} &bull; {mc_lastcomments_row.AUTHOR} &bull; {mc_lastcomments_row.CATEGORY_AND_ALBUM}
					</div>
					
				</li>
				<!-- END mc_lastcomments_row -->
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<!-- ENDIF -->
</div>

<script>
	var mc_mediaviewer_added = false;
	$(document).ready(function(){
		
	});
	
	function mcMediaViewer(){
		if(!mc_mediaviewer_added){
			//$('body').append('<div class="mcMVOverlay" style="display:none;"><div class="mcMVContainer"><div class="mcMVCloseBtn">x</div><div class="mcMVContent"><div class="mcMVContentInner">ContentInner</div><div class="mcMVContentDesc">Beschreibung</div></div><div class="mcMVSidebar"><div class="mcMVComments">Comments</div></div></div></div>');
			mc_mediaviewer_added = true;
		}
		
		$('.mcMVOverlay').show();

		var containerHeight = $('.mcMVmyContent').height();
		var containerWidth = $('.mcMVmyContent').width();
		
		var contentHeight = $('.mcMVmyContent > div').height();
		var contentWidth = $('.mcMVmyContent > div').width();
		
		var ratio = 0.0;
		
		// check if image exceeds dimensions on the Y axis
		if (contentHeight > containerHeight) {
			ratio = containerHeight / contentHeight;
			contentHeight = containerHeight;
			contentWidth = Math.floor(contentWidth * ratio);
		}
		
		// check if image exceeds dimensions on the X axis
		if (contentWidth > containerWidth) {
			ratio = containerWidth / contentWidth;
			contentWidth = containerWidth;
			contentHeight = Math.floor($contentHeight * ratio);
		}
		
		var left = Math.floor((containerWidth - contentWidth) / 2);
		console.log(containerHeight);
		console.log(contentHeight);
		$('.mcMVmyContent > div > img, .mcMVmyContent > div > iframe').css({
			height: contentHeight + 'px',
			left: (left + 10) + 'px',
			marginTop: (Math.round((containerHeight - contentHeight) / 2)) + 'px',
			width: contentWidth + 'px'
		});
		
		
		$('#carousel').elastislide();
	}
	
	$(document).ready(function(){
		//mcMediaViewer();
	});
</script>
<div class="mcMVOverlay" style="display:none;">
	<div class="mcMVContainer">
		<div class="mcMVCloseBtn"><i class="fa fa-times"></i></div>
		<div class="mcMVContainerInner">
			<div class="mcMVContent">
				<div class="mcMVContentInner">
					<div class="mcMVmyContent">
						<div>
							<!-- <img src="http://localhost/eqdkp/core/RGBGSTBR.JPG"> -->
						
						
						<iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FJA1z6B6Z8Ww%3Fwmode%3Dtransparent%26feature%3Doembed&wmode=transparent&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DJA1z6B6Z8Ww&image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FJA1z6B6Z8Ww%2Fhqdefault.jpg&type=text%2Fhtml&schema=youtube" width="854" height="480" scrolling="no" frameborder="0" allowfullscreen></iframe>
					
						</div>
					</div>
				</div>
				<div class="mcNavigationButtons">
					<ul>
						<li><i class="fa fa-chevron-left"></i></li>
						<li><i class="fa fa-external-link"></i></li>
						<li><i class="fa fa-expand"></i></li>
						<li><i class="fa fa-chevron-right"></i></li>
						
					</ul>
				</div>
				<div class="mcMVOtherBar">
					<ul id="carousel" class="elastislide-list">
						<li><a href="#"><img src="http://localhost/eqdkp/core/data/25d1d3bfd73fd5d2caf76840eb446508/mediacenter/thumbs/83e86cc633edbfba85ba9ae35802cbad.240.jpg" alt="image01" /></a></li>
						<li><a href="#"><img src="http://localhost/eqdkp/core/data/25d1d3bfd73fd5d2caf76840eb446508/mediacenter/thumbs/83e86cc633edbfba85ba9ae35802cbad.240.jpg" alt="image02" /></a></li>
						<li><a href="#"><img src="http://localhost/eqdkp/core/data/25d1d3bfd73fd5d2caf76840eb446508/mediacenter/thumbs/83e86cc633edbfba85ba9ae35802cbad.240.jpg" alt="image03" /></a></li>
						<li><a href="#"><img src="http://localhost/eqdkp/core/data/25d1d3bfd73fd5d2caf76840eb446508/mediacenter/thumbs/83e86cc633edbfba85ba9ae35802cbad.240.jpg" alt="image03" /></a></li>
						<li><a href="#"><img src="http://localhost/eqdkp/core/data/25d1d3bfd73fd5d2caf76840eb446508/mediacenter/thumbs/83e86cc633edbfba85ba9ae35802cbad.240.jpg" alt="image03" /></a></li>
						<li><a href="#"><img src="http://localhost/eqdkp/core/data/25d1d3bfd73fd5d2caf76840eb446508/mediacenter/thumbs/83e86cc633edbfba85ba9ae35802cbad.240.jpg" alt="image03" /></a></li>
						<li><a href="#"><img src="http://localhost/eqdkp/core/data/25d1d3bfd73fd5d2caf76840eb446508/mediacenter/thumbs/83e86cc633edbfba85ba9ae35802cbad.240.jpg" alt="image03" /></a></li>
						<li><a href="#"><img src="http://localhost/eqdkp/core/data/25d1d3bfd73fd5d2caf76840eb446508/mediacenter/thumbs/83e86cc633edbfba85ba9ae35802cbad.240.jpg" alt="image03" /></a></li>
						<li><a href="#"><img src="http://localhost/eqdkp/core/data/25d1d3bfd73fd5d2caf76840eb446508/mediacenter/thumbs/83e86cc633edbfba85ba9ae35802cbad.240.jpg" alt="image03" /></a></li>
					</ul>
				</div>
			</div>
			
			<div class="mcMVSidebar">
				<div class="mcMVComments">Comments</div>
			</div>
		</div>
	</div>
</div>