.mcFileList ul {
	display: flex;
	flex-wrap: wrap;
}

.TripleColumn li{
	float: left;
	width: 33%;
	margin-bottom: 20px;
}

.DoubleColumn li {
	float: left;
	width: 50%;
}

.mcPreviewDesc {
	margin-top: 12px;
	margin-bottom: 12px;
}

.mcPreviewImageBig {
	float: left;
	margin-right: 20px;
}

.mcPreviewImageSmall {
	float: left;
	margin-right: 6px;
}

.mcPreviewImageSmall img {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 1px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
	max-height: 48px;	
}

.mcPreviewImageBig img {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 7px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
	max-height: 144px;	
}

.mcFileContainer .mcPreviewImageBig {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 7px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
	max-height: 144px;	
}

.mcDownloadButton {
	text-align: center;
}

.mcDownloadButton .button {
	font-size: 1.3em;
}

.mcDownloadButton .button .small {
	font-size: 0.6em;
}

.mcNestedCategoryList, .mcCategoryList {
	padding: 20px;
}

.mcNestedCategoryList ul, .mcCategoryList ul {
	display: flex;
	flex-wrap: wrap;
}

.mcNestedCategoryList ul > li, .mcCategoryList ul > li {
	margin-bottom: 14px;
	font-size: 1.2em;
	font-weight: bold;
}

.mcCategoryList ul > li {
	font-size: 1em;
}

.mcNestedCategoryList ul > li .badge, .mcCategoryList ul > li .badge {
	left: 8px;
	font-weight: normal;
}

.mcNestedCategoryList ul > li > div > ul {
	margin-left: 20px;
	margin-top: 6px;
}

.mcNestedCategoryList ul > li > div > ul > li {
	font-size: 0.8em;
	float: left;
	width: auto;
	margin-right: 30px;
	font-weight: normal;
}

.badge {
  background-color: #666666;
  border-radius: 9px;
  color: #ffffff;
  display: inline-block;
  font-size: .85rem;
  padding: 1px 6px 1px;
  position: relative;
  text-shadow: none !important;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
  
.mc_featured {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.mc_featured_container {
  position: relative;
  margin: auto;
".(($strWidth != "100%") ? 'max-width: '.$strWidth.';' : '')."
  }
.mc_featured li {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  }


.mc_featured_imagecontainer {
	max-height: ".$intHeight."px;
	overflow: hidden;
}
.mc_featured .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 14px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .7);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
}

.mc_featured_container:hover .mc_featured_nav {
	display:block;	
}				

.mc_featured_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  margin-top: -45px;
	display:none;
  }

.mc_featured_nav:active {
  opacity: 1.0;
  }

.mc_featured_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  }
.mc_featured_nav.prev {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;	
}			
.mc_featured_tabs {
  margin-top: 10px;
  text-align: center;
  }

.mc_featured_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.mc_featured_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 14px;
  height: 14px;
  }

.mc_featured_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }	
  
.mcSidebar {
	display: flex;
	overflow: hidden !important;
}

.mcSidebar > .col2.last {
	background: #EAEAEA;
	padding: 10px;
	border-left: 1px solid #CCCCCC;
} 

.mcFrontendList h3 {
	margin-bottom: -8px;
}

.mcGridList li {
  background-color: white;
  display: inline-block;
  margin-bottom: 14px;
  margin-right: 14px;
  min-height: 210px;
  min-width: 280px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  
  background-size: cover;
  background-position: center;
}

.mcGridList > li > a {
  min-height: 210px;
  min-width: 280px;
  display: block;
}

.mcGridList > li > div a, .mcGridList > li > div a:active, .mcGridList > li > div a:visited, .mcGridList > li > div a:hover {
	color: #fff;
}
.mcGridList > li > div a:hover {
	text-decoration: underline;
}

.mcGridList > li > div {
  background-color: rgba(0,0,0,0.6);
  bottom: 0;
  color: #fff;
  position: absolute;
  width: 100%;
  padding: 7px 4px;
  /*height: 10px;*/
}

.mcGridList > li > div > p {
	margin-bottom: 5px !important;
}

.mcGridList > li:hover > div {
	height: auto;
}

.mcGridList > li > div > p, .mcGridList > li > div > div {
  margin: 0 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.mcImageContainer {
	text-align: center;
}

.mcImageContainer img {
	max-width: 100%;
}

/* Media Viewer */
.mcMVOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0,0,0,0.7);
}

.mcMVOverlay .mcMVContainer {
	position: fixed;
	background-color: #f9f9f9;
	left: 40px;
	right: 40px;
	top: 40px;
	bottom: 40px;
}

.mcMVCloseBtn {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 20px;
}

.mcMVSidebar {
	float: right;
	width: 360px;
}

.mcMVContainerInner {
	display: flex;
	height: 100%;
}

.mcMVContent {
	width: 100%;
	height: 100%;
	position: relative;
}

.mcMVOtherBar {
	bottom: 0px;
	height: 100px;
	background-color: #efefef;
	position: absolute;
  	width: 100%;
}

.mcMVContentInner {
	height: 100%;
}

.mcMVmyContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 120px;
  text-align:center;
}

.mcMVmyContent > div {
   display: inline-block;
}

.mcMVmyContent.landscape img, .mcMVmyContent.landscape iframe {
	width: 100%;
	height: auto;
}

.mcMVmyContent.portrait img, .mcMVmyContent.portrait iframe {
	height: 100%;
	width: auto;
}

.mcNavigationButtons {
  background-color: #000000;
  border: 1px solid #333333;
  border-bottom-width: 0;
  border-radius: 5px;
  bottom: 120px;
  display: inline-block;
  left: 50%;
  margin-left: -108px;
  opacity: .4;
  position: absolute;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.mcNavigationButtons ul li {
  display: inline-block;
  opacity: .6;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  border-left: 1px solid #333333;
  text-align: center;
}

.mcNavigationButtons:hover, .mcNavigationButtons li:hover  {
  opacity: 1;
}
.mcNavigationButtons ul li i {
  color: #666666;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  cursor: pointer;
  font-size: 28px;
  height: 48px;
  width: 48px;
  line-height: 48px;
}

.mcSidebarRight h3, .mcDescription h3 {
	text-transform: uppercase;
}

.mcSidebarRight dt {
  clear: right;
  float: left;
  margin-right: 4px;
  text-align: left;
}

.mcSidebarRight dd {
  margin-bottom: 3px;
  float: right;
  text-align: right;
}

.mcSidebarRight .tags {
	margin-top: 0px;
}

.mcVideoContainer {
	text-align: center;
}
.mcVideoContainer .video-js{
	margin-right: auto;
	margin-left: auto;
}

.mcSidebarGoogleMap {
	width: 100%;
	height: 200px;
}

/* Elastislide Style */

.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
	position: relative;
	margin: 0 auto;
	min-height: 60px;
}

.elastislide-wrapper.elastislide-loading {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-horizontal {
	padding: 10px 40px;
}

.elastislide-vertical {
	padding: 40px 10px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
}

.elastislide-vertical ul li {
	display: block;
}

.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
}

.elastislide-carousel ul li a img {
	display: block;
	border: 2px solid white;
	max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background: #ddd url(../images/nav.png) no-repeat 4px 3px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	top: 50%;
	left: 10px;
	margin-top: -11px;
}

.elastislide-vertical nav span {
	top: 10px;
	left: 50%;
	margin-left: -11px;
	background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
	right: 10px;
	left: auto;
	background-position: 4px -17px;
}

.elastislide-horizontal nav span.elastislide-prev:before{
	content:"\f053";
	font-family: FontAwesome;
	position: absolute;
	left: 7px;
  	top: 6px;
	text-indent: 0;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: 10px;
	top: auto;
	background-position: -17px -18px;
}

.elastislide-horizontal nav span.elastislide-next:before{
	content:"\f054";
	font-family: FontAwesome;
	position: absolute;
	left: 7px;
  	top: 6px;
	text-indent: 0;
}