/* LESS VARS */
@mcBadgeBackgroundColor: @eqdkpContentHighlightColor;
@mcBadgeColor: @eqdkpContentBackgroundColor;
/* END LESS VARS */

.mcFileList ul {
	display: flex;
	flex-wrap: wrap;
}

.TripleColumn li{
	float: left;
	width: 33%;
	margin-bottom: 20px;
}

.DoubleColumn li {
	float: left;
	width: 50%;
}

.mcPreviewDesc {
	margin-top: 12px;
	margin-bottom: 12px;
}

.mcPreviewImageBig {
	float: left;
	margin-right: 20px;
}

.mcPreviewImageSmall {
	float: left;
	margin-right: 6px;
}

.mcSwitcherBar .dropdown {
	float: right;
	margin-left: 10px;
}

.mcPreviewImageSmall img {
	background-color: @eqdkpContentContrastBackgroundColor;
	border: 1px solid @eqdkpContentContrastBorderColor;
	padding: 1px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
	max-height: 48px;	
}

.mcPreviewImageBig img {
	background-color: @eqdkpContentContrastBackgroundColor;
	border: 1px solid @eqdkpContentContrastBorderColor;
	padding: 7px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
	max-height: 144px;	
}

.mcFileContainer .mcPreviewImageBig {
	background-color: @eqdkpContentContrastBackgroundColor;
	border: 1px solid @eqdkpContentContrastBorderColor;
	padding: 7px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
	max-height: 144px;	
}

.mcDownloadButton {
	text-align: center;
}

.mcDownloadButton .button {
	font-size: 1.3em;
}

.mcDownloadButton .button .small {
	font-size: 0.6em;
}

.mcNestedCategoryList, .mcCategoryList {
	padding: 20px;
}

.mcNestedCategoryList ul, .mcCategoryList ul {
	display: flex;
	flex-wrap: wrap;
}

.mcNestedCategoryList ul > li, .mcCategoryList ul > li {
	margin-bottom: 14px;
	font-size: 1.2em;
	font-weight: bold;
}

.mcCategoryList ul > li {
	font-size: 1em;
}

.mcNestedCategoryList ul > li .badge, .mcCategoryList ul > li .badge {
	left: 8px;
	font-weight: normal;
}

.mcNestedCategoryList ul > li > div > ul {
	margin-left: 20px;
	margin-top: 6px;
}

.mcNestedCategoryList ul > li > div > ul > li {
	font-size: 0.8em;
	float: left;
	width: auto;
	margin-right: 30px;
	font-weight: normal;
}

.badge {
  background-color: fadein(@mcBadgeBackgroundColor,100%);
  border-radius: 9px;
  color: fadein(@mcBadgeColor,100%);
  display: inline-block;
  font-size: .85rem;
  padding: 1px 6px 1px;
  position: relative;
  text-shadow: none !important;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}

.contentContrast .badge {
	color: fadein(@eqdkpContentContrastBackgroundColor,100%);
}

.contentSidebar .badge {
	color: fadein(@eqdkpSidebarBackgroundColor,100%);
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
  
.mc_featured {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.mc_featured_container {
  position: relative;
  margin: auto;
}

.mc_featured li {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.mc_featured .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 14px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .7);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
}

.mc_featured_container:hover .mc_featured_nav {
	display:block;	
}				

.mc_featured_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  margin-top: -45px;
	display:none;
  }

.mc_featured_nav:active {
  opacity: 1.0;
  }

.mc_featured_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  }
.mc_featured_nav.prev {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;	
}			

.mcFrontendList h3 {
	margin-bottom: -8px;
}

.mcGridList li {
  background-color: white;
  display: inline-block;
  margin-bottom: 14px;
  margin-right: 14px;
  min-height: 210px;
  min-width: 280px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  
  background-size: cover;
  background-position: center;
}

.mcGridList > li > a {
  min-height: 210px;
  min-width: 280px;
  display: block;
}

.mcGridList > li > div a, .mcGridList > li > div a:active, .mcGridList > li > div a:visited, .mcGridList > li > div a:hover {
	color: #fff;
}
.mcGridList > li > div a:hover {
	text-decoration: underline;
}

.mcGridList > li > div {
  background-color: rgba(0,0,0,0.6);
  bottom: 0;
  color: #fff;
  position: absolute;
  width: 100%;
  padding: 7px 4px;
  /*height: 10px;*/
}

.mcGridList > li > div > p {
	margin-bottom: 5px !important;
}

.mcGridList > li:hover > div {
	height: auto;
}

.mcGridList > li > div > p, .mcGridList > li > div > div {
  margin: 0 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.mcImageContainer {
	text-align: center;
}

.mcImageContainer img {
	max-width: 100%;
}

.mcSidebar .contentSidebarRight h3, .mcDescription h3 {
	text-transform: uppercase;
}

.mcSidebar .contentSidebarRight dt {
  clear: right;
  float: left;
  margin-right: 4px;
  text-align: left;
}

.mcSidebar .contentSidebarRight dd {
  margin-bottom: 3px;
  float: right;
  text-align: right;
}

.mcSidebar .contentSidebarRight .tags {
	margin-top: 0px;
}

.mcSidebar .contentSidebarRight li {
	margin-bottom: 4px;
}

.mcVideoContainer {
	text-align: center;
}
.mcVideoContainer .video-js{
	margin-right: auto;
	margin-left: auto;
}

.mcSidebarGoogleMap {
	width: 100%;
	height: 200px;
}

.mcArticleBoxFile {
  display: inline-block;
  max-width: 500px;
  padding: 11px 14px;
  white-space: nowrap;
  background-color: @eqdkpContentContrastBackgroundColor;
  border: 1px solid @eqdkpContentContrastBorderColor;
  border-radius: 5px;
  color: @eqdkpContentContrastColor;
  margin: 5px;
}

.mcArticleBoxImage {
	margin: 5px;
	display: inline-block;
	position: relative;
}

.mcArticleBoxImage > div {
  background-color: rgba(0,0,0,0.6);
  bottom: 0;
  color: #fff;
  position: absolute;
  width: 100%;
}
.mcArticleBoxImage > div > div {
  padding: 7px 4px;
}
.mcArticleBoxImage a, .mcArticleBoxImage a:hover, .mcArticleBoxImage a:visited, .mcArticleBoxImage a:link {
	color: #fff;
}
.mcArticleBoxImage a:hover {
	text-decoration: underline;
}


.mcArticleBoxFile .mcBoxContent, .mcArticleBoxFile .mcPreviewImageSmall  {
	display: inline-block;
}

.mcArticleBoxAlbum ul, .mcArticleBoxCategory ul {
	padding-left: 0 !important;
}

.mcGridList li.unpublished {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}


.mcPortalBox > div {
	padding: 3px;
	margin-bottom: 3px;
}

.mcPortalBox .mcPreviewImageSmall.image img, .mcPortalBox .mcPreviewImageSmall.video img  {
	max-width: 100%;
	height: auto;
	width: auto;
	max-height: 150px;
}

.mcPortalBox .mcPreviewImageSmall.image, .mcPortalBox .mcPreviewImageSmall.video {
	float: none;
	text-align: center;
}

.mcSwitcherBar .dropdown .selected {
	font-size: 14px;
}

.mcStatisticBox, .mcCategoriesBox {
  border: 1px solid @eqdkpContentContrastBorderColor;
  border-radius: 5px;
  padding: 10px;
}
.mcStatisticBox > i {
	font-size: 48px;
	float: left;
}
.mcStatisticBox > div {
	margin-left: 70px;
}

.mcDashboardBox {
	margin-bottom: 20px;
}


.mc_featured_tabs {
  margin-top: 10px;
  text-align: center;
  }

.mc_featured_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.mc_featured_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: lighten(@eqdkpContentFontColor, 60) !important;
  background: @eqdkpContentContrastColor;
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 14px;
  height: 14px;
  }
  
  .mc_featured_here a {
  	background: @eqdkpContentFontColor !important;
  	background: rgba(0,0,0, .8);
  }
  
  #slider_mc_featured {
  	height:180px;
  }

@media all and (max-width: 899px) {
	.responsive .TripleColumn li, .responsive .DoubleColumn li {
		float: none;
		width: 100%;
	}
	
	.responsive .mcPreviewImageBig {
		float: none;
	}
	
	.responsive .mcSwitcherBar, .responsive .mcSwitcherBar .dropdown {
		float: none;
		display: block;
	}
	
	.responsive #slider_mc_featured {
		height: auto;
	}
	
	.responsive .mcVideoContainer > iframe {
		max-width: 100%;
	}
}