<div class="breadcrumb-container">
	<ul class="breadcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_CONTROLLER_PATH}MediaCenter{SEO_EXTENSION}{SID}">{L_mediacenter}</a></li>
		{MC_BREADCRUMB}
		<li class="current"><a href="{MC_MEDIA_LINK}">{MC_MEDIA_NAME}</a></li>
	</ul>
	<div class="clear"></div>
</div>


<div>
	<h2><!-- IF not MC_S_PUBLISHED --><i class="fa fa-eye-slash fa-lg "></i> <!-- ENDIF -->{MC_MEDIA_NAME}
	<!-- IF S_MC_TOOLBAR --> 
	<div class="floatRight">
		<div class="toolbar-button">
			<span class="{MC_TOOLBAR} toolbar"><i class="fa fa-cog"></i></span>
		</div>
	</div>
	<!-- ENDIF -->
	</h2>
</div>

<!-- IF MC_MEDIA_TYPE == 0 -->
	<!-- INCLUDE media_file.html -->
<!-- ELSEIF MC_MEDIA_TYPE == 1 -->
	<!-- INCLUDE media_video.html -->
<!-- ELSE -->
	<!-- INCLUDE media_image.html -->
<!-- ENDIF -->

<!-- IF S_LOGGED_IN -->
<div class="mcReportDialog" style="display:none;" title="{L_mc_report_media}">
	<!-- IF MC_S_REPORTED -->
	{L_mc_already_reported}
	<!-- ELSE -->
	<form method="post" action="{MC_MEDIA_LINK}&report">
	<fieldset class="settings mediumsettings">
		<div style="font-weight: bold;">{L_mc_report_reason}:</div>
		<textarea name="reason" style="width:95%" rows="7" required="required"></textarea>		
	</fieldset>
	<button type="submit"><i class="fa fa-check fa-lg"></i> {L_submit}</button>
	{CSRF_TOKEN}
	</form>
	<!-- ENDIF -->
</div>
<!-- ENDIF -->

<script>
$(function(){
	<!-- IF S_LOGGED_IN -->
	$( ".mcReportDialog" ).dialog({
		height: 380,
		width: 500,
		modal: true,
		autoOpen: false,
	});
	<!-- ENDIF -->
	
	$('html').keydown(function(e){
        //left
		if(e.which == 37){
        	var mylink = $('.mcNavPrev').attr('href');
        	if(mylink && mylink !=""){
        		window.location=mylink;
        	}
        }
        //right
        if(e.which == 39){
        	var mylink = $('.mcNavNext').attr('href');
        	if(mylink && mylink !=""){
        		window.location=mylink;
        	}
        }
    });
	
});

<!-- IF S_LOGGED_IN -->
function report_media(){
	$( ".mcReportDialog" ).dialog('open');
}
<!-- ENDIF -->
</script>

<form action="" method="post" style="display:none;">
{CSRF_TOKEN}
	<button class="mainoption" type="button" name="del" onclick="delete_warning();" id="del_articles" style="display:none;"><i class="fa fa-times"></i>{L_delete_selected_entries}</button>
	<button class="mainoption" type="submit" name="set_published" id="set_published" style="display:none;"></button>
	<button class="mainoption" type="submit" name="set_unpublished" id="set_unpublished" style="display:none;"></button>
	<input type="hidden" name="delete_media" value="1" disabled="disabled" id="mass_del_submit" />
	<input type="hidden" name="media_id" value="{MC_MEDIA_ID}"/>
	<input type="hidden" name="category_id" value="{MC_CATEGORY_ID}"/>
	<input type="checkbox" name="selected_ids[]" value="{MC_MEDIA_ID}" checked="checked"/>
</form>