<div class="grid mcSidebar">
	<div class="col10">
		<div class="mcImageContainer">
			{MC_VIDEO}
			<br />Vorherige Datei - Nächste Datei
		</div>
		Social Share, Rating
		<br /><br />
		Comments
	</div>
	
	<div class="col2 last">		
		<h3>Video-Informationen</h3>
		<ul>
			<li>Author</li>
			<li>Hochgeladen</li>
			<li>Views</li>
			<li>Album</li>
		</ul>
		<br />
		
		<h3>Tags</h3>
		<!-- IF S_MC_TAGS -->
		 <ul class="tags">
			<!-- BEGIN tag_row -->
			<li><a href="{tag_row.U_TAG}">{tag_row.TAG}</a></li>
			<!-- END tag_row -->
		</ul>
		<!-- ENDIF -->
		<div class="clear"></div>
		<br />
		
		<h3>Weitere Aktionen</h3>
		<ul>
		<li>Video melden</li>
		<li>Video einbetten</li>
		</ul>
		<br />
		
		<h3>Weitere Videos aus dieser Kategorie</h3>
		<ul>
		<li>Video 1</li>
		<li>Video 2</li>
		</ul>
		<br />
	</div>
</div>