<div class="grid mcSidebar">
	<div class="col10">
		<div class="mcVideoContainer">
			<nav>
				<!-- IF S_PREV_MEDIA -->
				<a href="{U_PREV_MEDIA}" title="{MEDIA_PREV_TITLE}" class="floatLeft"><i class="fa fa-chevron-left"></i> {MEDIA_PREV_TITLE}</a>
				<!-- ENDIF -->
		
				<!-- IF S_NEXT_MEDIA -->
				<a href="{U_NEXT_MEDIA}" title="{MEDIA_NEXT_TITLE}" class="floatRight">{MEDIA_NEXT_TITLE} <i class="fa fa-chevron-right"></i></a>
				<!-- ENDIF -->
				<div class="clear"></div>
				<br />
			</nav>
			
			{MC_VIDEO}
		</div>
		<div class="mcSocialShare">
			<div class="mcSocialButtons floatLeft">
				{MC_MEDIA_SOCIAL_BUTTONS}
			</div>
			<div class="mcRating floatRight">
				{MC_MEDIA_RATING}
			</div>
			<div class="clear"></div>
		</div>
		
		<!-- IF MC_MEDIA_DESCRIPTION != "" -->
		<div class="mcDescription">
			<h3>{L_mc_f_description}</h3>
			{MC_MEDIA_DESCRIPTION}
			<br />
		</div>
		<!-- ENDIF -->
		
		<br /><br />
		<!-- IF S_MC_COMMENTS -->
		<span id="comments"></span>
		{MC_COMMENTS}
		<!-- ENDIF -->
	</div>
	
	<div class="col2 last mcSidebarRight">		
		<h3>{L_mc_video_info}</h3>
		<dl>
			<dt>{L_mc_author}:</dt> <dd>{MC_MEDIA_AUTHOR}</dd>
			<dt>{L_mc_date}:</dt> <dd>{MC_MEDIA_DATE}</dd>
			<!-- IF MC_MEDIA_ALBUM != "" -->
			<dt>{L_mc_f_album}:</dt> <dd>{MC_MEDIA_ALBUM}</dd>
			<!-- ENDIF -->
			<dt>{L_mc_f_views}:</dt> <dd>{MC_MEDIA_VIEWS}</dd>
		</dl>
		<div class="clear"></div>
		<br />
		
		<h3>{L_tags}</h3>
		<!-- IF S_MC_TAGS -->
		 <ul class="tags">
			<!-- BEGIN tag_row -->
			<li><a href="{tag_row.U_TAG}">{tag_row.TAG}</a></li>
			<!-- END tag_row -->
		</ul>
		<!-- ENDIF -->
		<div class="clear"></div>
		<br />
		
		<h3>{L_mc_more_actions}</h3>
		<ul>
		<li><a href="javascript:embedd_media();"><i class="fa fa-chain fa-lg"></i> {L_mc_embedd_video}</a></li>
		<li><a href="javascript:report_media();"><i class="fa fa-exclamation-triangle fa-lg"></i> {L_mc_report_media}</a></li>
		</ul>
		<br />

	</div>
</div>

<div class="mcEmbeddDialog" style="display:none;" title="{L_mc_embedd_image}">
	<fieldset class="settings mediumsettings">
		<dl>
			<dt><label>{L_permalink}:</label></dt>
			<dd>
				<input type="text" style="width:90%" class="editlink-name" readonly="readonly" onclick="this.select()" value="{MC_PERMALINK}"/>
			</dd>
		</dl>
		<dl>
			<dt><label>BBCode:</label></dt>
			<dd>
				<input type="text" style="width:90%" class="editlink-name" readonly="readonly" onclick="this.select()" value="{MC_EMBEDD_BBCODE}"/>
			</dd>
		</dl>
		<dl>
			<dt><label>HTML:</label></dt>
			<dd>
				<input type="text" style="width:90%" class="editlink-name" readonly="readonly" onclick="this.select()" value="{MC_EMBEDD_HTML}"/>
			</dd>
		</dl>
		<dl>
			<dt><label>{L_mc_embedd_editor}:</label></dt>
			<dd>
				<input type="text" style="width:90%" class="editlink-name" readonly="readonly" onclick="this.select()" value="[media]{MC_MEDIA_ID}[/media]"/>
			</dd>
		</dl>
	</fieldset>
</div>

<script>
$(document).ready(function() {
	$( ".mcEmbeddDialog" ).dialog({
		height: 380,
		width: 500,
		modal: true,
		autoOpen: false,
	});
});

function embedd_media(){
	$( ".mcEmbeddDialog" ).dialog('open');
}
</script>