<div class="breadcrumb-container">
	<ul class="breadcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_CONTROLLER_PATH}MediaCenter{SEO_EXTENSION}{SID}">{L_mediacenter}</a></li>
		<li class="current"><a href="{EQDKP_CONTROLLER_PATH}MyMedia{SEO_EXTENSION}{SID}">{L_mc_mymedia}</a></li>
	</ul>
	<div class="clear"></div>
</div>


<div>
	<h2>{MC_CATEGORY_NAME} <span class="badge">{MC_CATEGORY_MEDIA_COUNT}</span></h2>
</div>
<form method="post" action="{ACTION}">
<div class="grid contentSidebar mcSidebar">
	<div class="col10">
		<div class="mcSwitcherBar floatRight">
			<button class="mainoption" type="button" name="addadj" onclick="addmedia('');"><i class="fa fa-plus"></i>{L_mc_add_media}</button>
			<!-- IF not S_LAYOUT_LIST -->{MC_SORT_DD}<!-- ENDIF --> {MC_LAYOUT_DD}
		</div>
		{MC_CATEGORY_DESCRIPTION}
		<div class="mcCategoryList DoubleColumn">
				<ul>
				<!-- BEGIN child_row -->
					<li><a href="{child_row.CATEGORY_LINK}"><!-- IF child_row.S_HAS_CHILDS --><i class="fa fa-folder-open-o fa-lg"></i><!-- ELSE --><i class="fa fa-folder-o fa-lg"></i><!-- ENDIF -->  {child_row.CATEGORY_NAME}</a><span class="badge">{child_row.MEDIA_COUNT}</span></li>
				<!-- END child_row -->
				</ul>
		</div>
		<div class="clear"></div>
		
		<!-- IF S_IN_CATEGORY -->
		<!-- IF S_LAYOUT_LIST -->
		<table width="100%" border="0" cellspacing="1" cellpadding="2" class="table colorswitch mcFrontendList">
			{MEDIA_LIST}
		</table>
		<!-- ELSE -->
		<div>
			<ul class="mcGridList">
			<!-- BEGIN mc_media_row -->
			<li style="background-image:url('{mc_media_row.PREVIEW_IMAGE_URL}');" class="<!-- IF not mc_media_row.S_PUBLISHED -->unpublished<!-- ENDIF -->">
				<a href="{mc_media_row.LINK}"></a>
				<div>
					<p><!-- IF not mc_media_row.S_PUBLISHED --><i class="fa fa-eye-slash fa-lg "></i> <!-- ENDIF -->{mc_media_row.NAME}</p>
					<div>{mc_media_row.TYPE} &nbsp; {mc_media_row.DATE} &bull; {mc_media_row.AUTHOR} {mc_media_row.CATEGORY_AND_ALBUM}<br />
					<i class="fa fa-eye"></i> {mc_media_row.VIEWS} &nbsp;&nbsp; <i class="fa fa-comment"></i> {mc_media_row.COMMENTS}
					<div class="floatRight"><input type="checkbox" name="selected_ids[]" value="{mc_media_row.ID}" id="cbrow1"></div>
					<div class="clear"></div>
					</div>
				</div>
			</li>
			<!-- END mc_media_row -->
			</ul>
		</div>
		<!-- ENDIF -->
		<!-- ENDIF -->
		<div class="center pagination_wrapper">
			{PAGINATION}
		</div>
	</div>
	
	<div class="col2 last contentSidebarRight">
		<h3>{L_mc_my_albums}</h3>
		<ul>
		<!-- BEGIN album_list -->
		<li><a href="{album_list.LINK}">{album_list.NAME} <span class="badge">{album_list.MEDIA_COUNT}</span></a></li>
		<!-- END album_list -->
		</ul>
		<br />
	</div>
</div>

<div class="contentFooter">
	{MC_BUTTON_MENU}
	
	<input type="hidden" name="delete_media" value="1" disabled="disabled" id="mass_del_submit" />
</div>
<div class="clear"></div>
{CSRF_TOKEN}
</form>
<script>
$(function(){
	$('#selectsort').change(function() {
		var base_sort_url = '{MC_BASEURL_SORT}';
		window.location=base_sort_url+$(this).val();
	});
	
	$('#selectlayout').change(function() {
		var base_layout_url = '{MC_BASEURL_LAYOUT}';
		window.location=base_layout_url+$(this).val();
	});
});
</script>
